*{
    font-family: 'Comic-Sans';
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.75vw;
}
:root{
    --THIRDSWIDTH: 100%;
    }

/* ------- ------- ------- ------- thirds ------- ------- ------- ------- */
/*
#thirds-container{
    width: var(--THIRDSWIDTH);
    display: grid;
    grid-template-columns: fit fit fit;
}
*/
#bottom-container{
    width: var(--THIRDSWIDTH);
    display: grid;
    grid-template-columns: 80vw 20vw;
    height: fit-content;
}


#input{
    background-color: rgb(240, 160, 184);
    background-color: rgb(164, 130, 73);
}

#middle{
    background-color: yellow;
}

#output{
     /* background-color: rgb(243, 146, 228); */
     background-color: rgb(243, 146, 228); 
     justify-content: center;
     justify-items: center;
     width: 100vw;
     height: fit-content;
}
#output-table{
     /* background-color: rgb(243, 146, 228);
     background-color: rgb(243, 146, 228); 
     justify-content: center;
     justify-items: center; */
     width: 50vw;

}

#span{
    background: fixed;
}

table{
    border: 5px black solid;
}

td{
    border: 5px black solid;
    justify-content: center;
    align-items: center;
    
}